/* General Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a2e;
  color: #ffffff;
}

header {
  background-color: #ffffff;
  padding: 10px 0;
}

header nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #1a1a2e;
  font-weight: bold;
}

header nav a:hover {
  color: orange;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.hero h1 {
  font-size: 3rem;
  color: #fff;
}

.highlight {
  color: limegreen;
}

.hero-image {
  width: 50%;
}

.hero img {
  width: 100%;
}

.services-grid {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.service-card {
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  width: 30%;
}
